html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

glava {
    margin: 20px;
}

telo {
    flex: auto;
   	margin: 10px;
	width: calc(100% - 50px);
	overflow: auto;
	padding: 10px;
	border-style: solid;
    border-color: red;
    border-width: 1px;
	box-shadow: -2px 2px 5px #888888;
}

.stroboskop {
	margin: 0px; 
	margin-bottom: 5px;
	position: relative; 
	height: 20px; 
	width: calc(100% - 20px); 
	float: left; 
	padding: 10px;
	box-shadow: -2px 4px 2px #888888;
}

#barve > button {
	border: 0px;
	margin: 5px;
	border-style: solid;
    border-color: red;
    border-width: 1px;
	box-shadow: -2px 2px 2px #888888;
}

#start {
    float: right;
    width: 200px;
    background: white;
    height: 50px;
    font-size: 18px;
    border-style: solid;
    border-color: red;
    border-width: 1px;
	box-shadow: -2px 2px 2px #888888;
}

#novaBarva, #odstraniBarve {
	background: white;
	border-style: groove;
    border-color: red;
    border-width: 1px;
	box-shadow: -2px 2px 2px #888888;
}